// App Item: Detail View (Overview, Services, Settings)
// --------------------------------------------------

.back-to-apps {
  &:extend(.btn-sm, .btn-gray, .pull-right);
}

.js-editor-tabs {
  clear: both;
  margin-bottom: 0.5%;
}

.js-editor-content {
  margin-bottom: @content-margin;
}

.table-services {
  &:extend(.table all, .table-striped all, .table-hover all);

  th {
    &:first-child {
      width: 5%;
    }
  }
}

// Service
.service-edit {
  &:extend(.btn-xs, .btn-gray, .pull-right);

  margin: 10px 10px 0 0;
}

[class^="service-"] {
  // applicable styles to service-* here
}

.service-date-added {
  clear: both;
}
