// Dashboard: App List
// --------------------------------------------------

// Move to variables
@border-gray: 1px #eee solid;

.js-list-toggle {
  float: right;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  i {
    padding: 5px;
    border: @border-gray;
    .border-radius(3px);

    &:hover {
      background-color: @gray-even-lighter;
    }
  }
}
.js-list {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 0 15px 0;
      padding: 0;
      border: @border-gray;
      .border-radius(3px);

      &:after {
        content: "";
        display: block;
        clear: both;
      }

      div {
        width: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      i {
        color: @gray;
        // font-size: 2em;
      }
    }
  }
}

.app-create {
  ul {
    li {
      padding: 0.75% 0;
      color: @gray-darker;
      text-align: center;
      background-color: @gray-even-lighter;

      &:hover {
        background-color: @gray-lighter;
      }
    }
  }
}

.app-info {
  // width: 60%;
  float: left;
}

.app-services {
  // width: 40%;
  float: right;
  text-align: right;
}
