// Service Edit View
// In Modules > Editor > Services > Service-Edit-View
// --------------------------------------------------

// Responsive-friendly styling for form via Bootstrap
.service-info {
  &:extend(.form-horizontal);

  .service-name {
    margin-bottom: 30px;

    .fa {
      margin-right: 10px;
    }
  }

  .update-button {
    margin-top: 15px;
  }

  .form-group {
    .clearfix;
  }

  .form-group label {
    &:extend(.col-xs-2);
  }

  .service-callback-url .form-control {
    &:extend(.col-xs-10);
  }

  .service-client-id .form-control,
  .service-client-secret .form-control {
    &:extend(.col-xs-5);
  }
}
