doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/ico', href='http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_64,w_64/ecqtlr31kaa7kllvrz9o.png')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.sticky-footer-wrap
      include includes/account/header.jade

      main#content-region.content
        block body

    include includes/footer.jade

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
