doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.sticky-footer-wrap
      header#header-region
        nav.navbar.navbar-default(role='navigation')
          .navbar-header
            a.navbar-brand(href='/')
              | APINetwork Documentation
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navigation')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          //
             /.navbar-header
          #main-navigation.collapse.navbar-collapse
            ul.nav.navbar-nav.nav-pills.navbar-right
              li
                a(href='about') About
              li
                a(href='help') Help
              li.dropdown.avatar
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-user.fa-stack-1x.fa-inverse
                  | becky@engine.co
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Account Settings
                  li.divider
                  li
                    a(href='#') Log Out

      main#content-region.content
        block body

      footer
        div
          p
            | Copyright © 2014 Engine, Inc.
            a(href='')
              | Legal
            a(href='')
              | Terms of Service
            a(href='')
              | Privacy
            a(href='')
              | Contact

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
