@import "../less/engineui-build.less";
@import "bootstrap/less/mixins.less";

// For APINetwork Blue Branding
@footer-height:      60px;
@brand-apiblue:      #007bb6;
@brand-apibluelight: desaturate(lighten(@brand-apiblue, 20%), 45%);
@brand-primary:      @brand-apiblue;
@input-border-focus: @brand-apiblue;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  width: 100%;
  padding: 0;
}

h1, h2 {
  letter-spacing: -1px;
}

fieldset {
  min-width: 0;
  margin-bottom: 20px;
}

table thead th {
  background-color: #ddd;
}

select, textarea, input, .form-control {
  font-size: 16px; //ios input zoom prevention hack
}

.input-group-btn .btn-group:first-of-type .btn {
  .border-left-radius(0);
}

.dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 12px;
}

.navbar {
  .box-shadow(0 2px 5px rgba(0,0,0,.125));

  .navbar-brand {
    font-weight: bold;
    color: #003d5f;
    position: relative;
    display: inline-block;

    .navbar-logo {
      position: absolute;
      top: 10px;
      height: 32px;
      width: 32px;
    }
  }
  .navbar-brand-label {
    margin-left: 35px;
  }
}

.sticky-footer-wrap {
  position: relative;
  min-height: 100%;
}

.content {
  // make room for absolutely positioned stick-to-bottom footer
  padding-bottom: @footer-height;
}

footer,
.sticky-footer-wrap:after {
  height: @footer-height;
}

footer {
  position: relative;
  clear: both;
  width: 100%;
  color: #FFF;
  background-color: #393939;

  > div {
    &:extend(.container-fluid all);

    > p {
      padding-top: 20px;
    }
  }
}

.ajax-spinner {
  position: absolute;
  z-index: 999;
  display: none;
  padding: 5px;
  font-size: inherit;
  line-height: 11px;
  background-color: #ccc;
  border-radius: 4px;

  img {
    width: inherit;
    height: inherit;
    margin: 0;
  }
}​

.force-wrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
