@import "../less/api-network-build.less";
@import "../less/brand-apinetwork.less";
@import "bootstrap/less/mixins.less";

// Needed for full height on containers
@full-height: 100%;

html,
body {
  margin: 0;
  padding: 0;
  height: @full-height;
}

h1, h2 {
  letter-spacing: -1px;
}

fieldset {
  min-width: 0;
  margin-bottom: 20px;
}

table thead th {
  background-color: #ddd;
}

select, textarea, input, .form-control {
  font-size: 16px; //ios input zoom prevention hack
}

.input-group-btn .btn-group:first-of-type .btn {
  .border-left-radius(0);
}

.dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 12px;
}

.sticky-footer-wrap {
  min-height: 100%;
  margin-bottom: -@footer-height;
  height: 100%;
  height: auto !important;
}

header {
  position: absolute;
  width: 100%;
  background: #fff;
}

.navbar {
  &:extend(.container-fluid);

  /*
  .navbar-nav {
    li {
      a {
        padding-bottom: 12px;
      }
    }
  }
  */

  padding-left: 0;
  background: url('../media/api-network.png') no-repeat 15px 13px;
  background-size: 40px;

  .box-shadow(0 2px 5px rgba(0,0,0,.125));

  a {
    padding-left: 65px;

    @media screen and (max-width: @screen-phone) {
      display: none;
    }
  }
}

.avatar {
  .fa-stack {
    height: 1em;
  }

  .fa-lg {
    margin-top: -20px;
  }
}

.content {
  padding-top: 66px;
  height: 100%;
}

// Added for proper height and bg extend
.user-login,
.static-content {
  &:after {
    content: "";
    display: block;
    height: @footer-height;
  }
}

// For Landing Page Sign In/Up Forms
.user-login {
  &:extend(.row);

  padding-top: 3%;
  min-height: 100%;
  text-align: center;
  background-color: @gray-even-lighter;

  &:after {
  }
}

// User
.user-account-form {
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  &:after {
    content: "";
    display: block;
    height: ceil(@footer-height * 3.5);
  }

  // Use media queries to adjust to viewport
  @media (max-width: @screen-desktop) {
    width: 60%;
  }

  @media (max-width: @screen-tablet) {
    width: 80%;
  }

  @media (max-width: @screen-phone) {
    width: 80%;
  }
}

// Forms for Create Account & Log In
.nav-tabs {
  border-bottom: 0;

  .form-create-account,
  .form-user-login {
    // Need extend of col-*-6
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;

    @media (max-width: @screen-phone) {
      // Need extend .col-*-12
      display: block;
      width: 100%;
    }
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  // &:extend(.btn-primary);
  color: @btn-primary-color;
  background: @btn-primary-bg;
  border: @btn-primary-border;
}

.tab-buttons {
  &:extend(.row);

  padding-top: 1%;

  .btn-create-account,
  .btn-user-login {
    &:extend(.btn, .btn-lg, .btn-block);

    outline: none;

    color: @btn-default-color;
    margin: 0 auto;
    text-transform: uppercase;
    background: none;
  }
}

.tab-content,
.tab-pane {
  margin: 0;
}

#signup,
#login {
  &:extend(.col-xs-12, .col-md-12, .col-lg-12);

  padding-top: 2%;

  .checkbox,
  .forgot-password {
    float: left;
    margin: 0 0 10px 0;
    padding-top: 0;
    width: 50%;
    min-height: 0;
  }

  .forgot-password {
    text-align: right;

    i {
      padding-right: 1%;
    }
  }

  .form-group {
    margin: 0 0 5px 0;
    text-align: left;

    button {
      &:extend(.btn-lg);
    }
  }
}
// ******

// For Static Pages
.static-content {
  padding: 0.5% 1%;
}

footer {
  height: @footer-height;
  color: #FFF;
  background-color: #393939;

  > div {
    &:extend(.container-fluid all);

    > p {
      padding-top: 20px;

      a {
        padding: 0 1%;

        &:first-child {
          padding-left: 2%;
        }

        &:hover {
          color: @brand-primary;
          text-decoration: underline;
        }
      }

      @media (max-width: @screen-tablet) {
        padding-top: 10px;
        font-size: 1em;
      }
    }
  }
}

.ajax-spinner {
  position: absolute;
  z-index: 999;
  display: none;
  padding: 5px;
  font-size: inherit;
  line-height: 11px;
  background-color: #ccc;
  border-radius: 4px;

  img {
    width: inherit;
    height: inherit;
    margin: 0;
  }
}​

.force-wrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
