extends ../../layouts/default

block head
  title Login

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')
  script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
  block contentVars
    - contentClass = 'inverse-background'

  .user-login
    .user-account-form
      h1 Power your app with APINetwork.
        h4
          | Lorem ipsum dolor sit amet consectetur adipiscing elit.

      .tab-content
        ul.tab-buttons.nav.nav-tabs
          li.form-create-account.active
            a.btn-create-account(href='#createAccount', data-toggle='tab')
              | Create Account
          li.form-user-login
            a.btn-user-login(href='#userLogin', data-toggle='tab')
              | Login

        #createAccount.tab-pane.fade.in.active
          #signup
            // NOTE: The contents of #signup are replaced by Backbone using #tmpl-signup.
            // We retain this "useless" form for Javascript-naive SEO.
            form.form-horizontal(role='form')
              .form-group
                label.sr-only(for='emailAddress') Email address
                input#emailAddress.form-control(type='email', placeholder='E-mail Address')
              .form-group
                label.sr-only(for='password') Password
                input#password.form-control(type='password', placeholder='Enter Password')
              .form-group
                label.sr-only(for='confirmPassword') Password
                input#confirmPassword.form-control(type='password', placeholder='Confirm Password')
              .form-group
                .checkbox
                  label
                    input(type='checkbox')
                    | Keep me logged in
              .form-group
                button.btn-gray-block(type='submit')
                  | Create Account

        #userLogin.tab-pane.fade
          #login
            // NOTE: The contents of #login are replaced by Backbone using #tmpl-login.
            // We retain this "useless" form for Javascript-naive SEO.
            form.form-horizontal(role='form')
              .form-group
                label.sr-only(for='emailAddress') Email address
                input#emailAddress.form-control(type='email', placeholder='E-mail Address')
              .form-group
                label.sr-only(for='password') Password
                input#password.form-control(type='password', placeholder='Enter Password')
              .form-group
                .checkbox
                  label
                    input(type='checkbox')
                    | Keep me logged in
                .forgot-password
                  a(href='/login/forgot/')
                    i.fa.fa-question-circle
                    | Forgot Password?
              .form-group
                button.btn-gray-block(type='button')
                  | Log In

  script(type='text/template', id='tmpl-signup')
    form.form-horizontal(role='form')
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      //
        .form-group(class!='<%- errfor.username ? "has-error" : "" %>')
          label.sr-only(for='username') Pick Username
          input#username.form-control(type='text', name='username', value!='<%= username %>', placeholder='Username')
          span.help-block <%- errfor.username %>
      .form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label.sr-only(for='emailAddress') Email address
        input#emailAddress.form-control(type='email', name='email', value!='<%= email %>', placeholder='E-mail Address')
        span.help-block <%- errfor.username %>
      .form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.sr-only(for='password') Password
        input#password.form-control(type='password', name='password', value!='<%= password %>', placeholder='Enter Password')
        span.help-block <%- errfor.password %>
      .form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.sr-only(for='confirmPassword') Password
        input#confirmPassword.form-control(type='password', placeholder='Confirm Password')
        span.help-block <%- errfor.password %>
      .form-group
        .checkbox
          label
            input(type='checkbox')
            | Keep me logged in
      .form-group
        button.btn-gray-block.btn-signup(type='submit')
          | Create Account

  script(type='text/template', id='tmpl-login')
    form.form-horizontal(role='form')
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      .form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label.sr-only(for='emailAddress') Email address
        input#emailAddress.form-control(type='email', name='username', placeholder='E-mail Address', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      .form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.sr-only(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Enter Password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      .form-group
        .checkbox
          label
            input(type='checkbox')
            | Keep me logged in
        .forgot-password
          a(href='/login/forgot/')
            i.fa.fa-question-circle
            | Forgot Password?
      .form-group
        button.btn-gray-block.btn-login(type='button')
          | Log In
