header#header-region
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      a.navbar-brand(href='/')
        | APINetwork Application Manager
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navigation')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #main-navigation.collapse.navbar-collapse
      ul.nav.navbar-nav.nav-pills.navbar-right
        li: a(href='/about/') About
        li: a(href='/help/') Help
        if user && user.username
          li: a(href='/logout/') Log Out