extends ../layouts/default

block head
  title APINetwork Application Manager

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
  .user-login
    .user-account-form
      h1 Power your app with APINetwork.
        h4
          | Lorem ipsum dolor sit amet consectetur adipiscing elit.
      .tab-buttons
        .form-create-account.col-md-6
          button.btn-create-account(href='#createAccount', data-toggle='tab')
            | Create Account
        .form-user-login.col-md-6
          button.btn-user-login(href='#userLogin', data-toggle='tab')
            | Login

      .tab-content
        #createAccount.tab-pane.fade.in.active
          #signup
            form.form-horizontal(role='form')
              .form-group
                label.sr-only(for='emailAddress') Email address
                input#emailAddress.form-control(type='email', placeholder='E-mail Address')
              .form-group
                label.sr-only(for='password') Password
                input#password.form-control(type='password', placeholder='Enter Password')
              .form-group
                label.sr-only(for='confirmPassword') Password
                input#confirmPassword.form-control(type='password', placeholder='Confirm Password')
              .form-group
                .checkbox
                  label
                    input(type='checkbox')
                    | Keep me logged in
              .form-group
                button.btn-gray-block(type='submit')
                  | Create Account

        #userLogin.tab-pane.fade
          #login
            form.form-horizontal(role='form')
              .form-group
                label.sr-only(for='emailAddress') Email address
                input#emailAddress.form-control(type='email', placeholder='E-mail Address')
              .form-group
                label.sr-only(for='password') Password
                input#password.form-control(type='password', placeholder='Enter Password')
              .form-group
                .checkbox
                  label
                    input(type='checkbox')
                    | Keep me logged in
                .forgot-password
                  a(href='/login/forgot/')
                    i.fa.fa-question-circle
                    | Forgot Password?
              .form-group
                button.btn-gray-block(type='button')
                  | Log In
