extends ../layouts/default

block head
  title APINetwork Application Manager

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  .user-login
    h1 Power your app with APINetwork.
      h4
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur malesuada.
      .user-account-form
        div
          .form-create-account.col-md-6
            button.btn-create-account(href='#createAccount', data-toggle='tab')
              | Create Account
          .form-user-login.col-md-6
            button.btn-user-login(href='#userLogin', data-toggle='tab')
              | Login
        .row
          .tab-content
            #createAccount.tab-pane.fade.in.active
              //
                 New User
              #register-form
                form.form-horizontal(role='form')
                  .form-group
                    label.sr-only(for='emailAddress') Email address
                    input#emailAddress.form-control(type='email', placeholder='E-mail Address')
                  .form-group
                    label.sr-only(for='password') Password
                    input#password.form-control(type='password', placeholder='Enter Password')
                  .form-group
                    label.sr-only(for='confirmPassword') Password
                    input#confirmPassword.form-control(type='password', placeholder='Confirm Password')
                  .form-group
                    .col-sm-6.checkbox
                      label
                        input(type='checkbox')
                        | Keep me logged in
                    //
                       /.checkbox
                    .col-sm-6.forgot-password
                      a(href='#')
                        i.fa.fa-question-circle
                        | Forgot Password?
                    //
                       /.forgot-password
                  //
                     /.form-group
                  button.btn-gray-block(type='submit')
                    | Create Account
              //
                 /#register-form
            //
               /.tab-pane
            #userLogin.tab-pane.fade
              //
                 Existing User
              #register-form
                form.form-horizontal(role='form')
                  .form-group
                    label.sr-only(for='emailAddress') Email address
                    input#emailAddress.form-control(type='email', placeholder='E-mail Address')
                  .form-group
                    label.sr-only(for='password') Password
                    input#password.form-control(type='password', placeholder='Enter Password')
                  .form-group
                    .col-sm-6.checkbox
                      label
                        input(type='checkbox')
                        | Keep me logged in
                    //
                       /.checkbox
                    .col-sm-6.forgot-password
                      a(href='#')
                        i.fa.fa-question-circle
                        | Forgot Password?
                    //
                       /.forgot-password
                  //
                     /.form-group
                  button.btn-gray-block(type='submit')
                    | Log In
              //
                 /#register-form
            //
               /.tab-pane
          //
             /.tab-content
        //
           / row
      //
         /.user-account-form
    //
       /.user-login
