@import "common-style/api-network-ui-import.less";
@import "common-style/variables.less";
@import "common-style/mixins.less";

@import "modules/manager/list/list-view.less";
@import "modules/manager/create/create-view.less";
@import "modules/editor/editor-view.less";
@import "modules/editor/overview/overview-view.less";
@import "modules/editor/overview/service-rows/service-rows-view.less";
@import "modules/editor/services/services-view.less";
@import "modules/editor/services/service-edit-view/service-edit-view.less";
@import "modules/editor/services/service-add-view/service-add-view.less";
@import "modules/editor/services/service-add-view/service-add-detail-view/service-add-detail.less";
@import "modules/editor/settings/settings-view.less";
@import "modules/modal/modal.less";

@import "components/grid/grid.less";


// Manager Styles
// --------------------------------------------------
body {
  &:extend(.container);

  width: 100%;
  padding: 0;

  > table {
    &:extend(.table all, .table-striped all);
    background-color: #FF0000;
  }
}

.url-cell {
  word-break: break-word;
}

.wrap {
  width: 100%;
  min-height: 100%;
  margin-bottom: -(@footer-height); /* equal to footer height */

  &:after {
    content: "";
    display: block;
  }
}

header {
  > nav {
    > div {
      &:extend(.container-fluid all);
    }
  }
}

main {
  &:extend(.container-fluid all);

  overflow:auto;
  height: 100%;

  /*
  > div {
    &:after {
      display: block;
      content: "";
      height: @content-margin;
    }
  }
  */

  &:after {
    display: block;
    content: "";
    height: @content-margin;
  }
}

// For Create Apps button styling
.content-wrap {
  > button {
    margin-bottom: 1%;
  }
}

// Standard Gray Containers
.section-gray {
  margin-bottom: 20px;
  padding: 20px;
  .border-radius (3px);
  background-color: @gray-even-lighter;

  h3 {
    margin-top: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


.form-group {
  box-sizing: border-box;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

a.nav-previous {
  &:extend(.pull-right all);

  margin: 2.5% 2% 0;
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: none;
}

// Footer
// --------------------------------------------------
// For proper sticky footer placement
footer,
.wrap:after {
  height: @footer-height;
}

footer {
  // margin-top: 60px;
  position: relative;
  clear: both;
  width: 100%;
  color: #FFF;
  background-color: #393939;

  > div {
    &:extend(.container-fluid all);

    > p {
      padding-top: 20px;

      > a {
        padding: 0 0.5%;

        &:first-child {
          padding-left: 1%;
        }
      }
    }
  }
}

// Dropdown menus
// --------------------------------------------------
.avatar {
  margin-top: -7px;
}
