extends ../../layouts/account

block head
  title Account Area
  link(rel='stylesheet', href='/client/style/app.css?#{cacheBreaker}')

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/client/vendor/requirejs/require.js', data-main='/client/app/app-require.js')

block body
  .static-content
    main#content-region
