extends ../../layouts/account

block head
  title Account Area
  link(rel='stylesheet', href='/client/style/app.css?#{cacheBreaker}')

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/client/vendor/requirejs/require.js', data-main='/client/app/app-require.js')

block body
  .static-content
    main#content-region
      .dashboard-wrapper
        .dashboard-content
            h1
              | My Apps
              button.btn-green
                | Create New App
              .js-toggle-btn
                a.list-view(href='#js-toggle-view-list', data-toggle='tab')
                  i.fa.fa-list
                a.grid-view(href='#js-toggle-view-grid', data-toggle='tab')
                  i.fa.fa-th
            .app-none
              | You haven't created an app yet.
              a(href='#') Make your first app!
            .tab-content
              #js-toggle-view-list.js-toggle-view.tab-pane.fade.in.active
                .js-sortable-apps
                  ol.app-list
                    li.app-item
                      img.app-logo(src='http://placekitten.com/g/50/50')
                      p
                        span.app-title
                          | App Title 1
                        span.app-description
                          | This is an example of an app description.
                      .app-controls
                        .remote-services
                          a(href='#')
                            i.fa.fa-facebook-square
                          a(href='#')
                            i.fa.fa-twitter
                          a(href='#')
                            i.fa.fa-google-plus-square
                          a(href='#')
                            i.fa.fa-github
                          a(href='#')
                            i.fa.fa-linkedin-square
                        .actions
                          a(href='#')
                            i.fa.fa-plus-circle
                            i.fa.fa-gear
                    li.app-item
                      img.app-logo(src='http://placekitten.com/g/50/50')
                      p
                        span.app-title
                          | App Title 2
                        span.app-description
                          | This is an example of an app description.
                      .app-controls
                        .remote-services
                          a(href='#')
                            i.fa.fa-facebook-square
                          a(href='#')
                            i.fa.fa-twitter
                          a(href='#')
                            i.fa.fa-google-plus-square
                          a(href='#')
                            i.fa.fa-github
                          a(href='#')
                            i.fa.fa-linkedin-square
                        .actions
                          a(href='#')
                            i.fa.fa-plus-circle
                            i.fa.fa-gear
                    li.app-item
                      img.app-logo(src='http://placekitten.com/g/50/50')
                      p
                        span.app-title
                          | App Title 3
                        span.app-description
                          | This is an example of an app description.
                      .app-controls
                        .remote-services
                          a(href='#')
                            i.fa.fa-facebook-square
                          a(href='#')
                            i.fa.fa-twitter
                          a(href='#')
                            i.fa.fa-google-plus-square
                          a(href='#')
                            i.fa.fa-github
                          a(href='#')
                            i.fa.fa-linkedin-square
                        .actions
                          a(href='#')
                            i.fa.fa-plus-circle
                            i.fa.fa-gear
              #js-toggle-view-grid.js-toggle-view.tab-pane.fade
                .js-sortable-apps
                  ol.app-list
                    .container-app-item
                      li.app-item
                        img.app-logo(src='http://placekitten.com/g/50/50')
                        p
                          span.app-title
                            | App Title 1
                          span.app-description
                            | This is an example of an app description.
                        .app-controls
                          .remote-services
                            a(href='#')
                              i.fa.fa-facebook-square
                            a(href='#')
                              i.fa.fa-twitter
                            a(href='#')
                              i.fa.fa-google-plus-square
                            a(href='#')
                              i.fa.fa-github
                            a(href='#')
                              i.fa.fa-linkedin-square
                          .actions
                            a(href='#')
                              i.fa.fa-plus-circle
                              i.fa.fa-gear
                    .container-app-item
                      li.app-item
                        img.app-logo(src='http://placekitten.com/g/50/50')
                        p
                          span.app-title
                            | App Title 1
                          span.app-description
                            | This is an example of an app description.
                        .app-controls
                          .remote-services
                            a(href='#')
                              i.fa.fa-facebook-square
                            a(href='#')
                              i.fa.fa-twitter
                            a(href='#')
                              i.fa.fa-google-plus-square
                            a(href='#')
                              i.fa.fa-github
                            a(href='#')
                              i.fa.fa-linkedin-square
                          .actions
                            a(href='#')
                              i.fa.fa-plus-circle
                              i.fa.fa-gear
                    .container-app-item
                      li.app-item
                        img.app-logo(src='http://placekitten.com/g/50/50')
                        p
                          span.app-title
                            | App Title 1
                          span.app-description
                            | This is an example of an app description.
                        .app-controls
                          .remote-services
                            a(href='#')
                              i.fa.fa-facebook-square
                            a(href='#')
                              i.fa.fa-twitter
                            a(href='#')
                              i.fa.fa-google-plus-square
                            a(href='#')
                              i.fa.fa-github
                            a(href='#')
                              i.fa.fa-linkedin-square
                          .actions
                            a(href='#')
                              i.fa.fa-plus-circle
                              i.fa.fa-gear

                    .container-app-item
                      li.app-item
                        img.app-logo(src='http://placekitten.com/g/50/50')
                        p
                          span.app-title
                            | App Title 1
                          span.app-description
                            | This is an example of an app description.
                        .app-controls
                          .remote-services
                            a(href='#')
                              i.fa.fa-facebook-square
                            a(href='#')
                              i.fa.fa-twitter
                            a(href='#')
                              i.fa.fa-google-plus-square
                            a(href='#')
                              i.fa.fa-github
                            a(href='#')
                              i.fa.fa-linkedin-square
                          .actions
                            a(href='#')
                              i.fa.fa-plus-circle
                              i.fa.fa-gear
