footer#footer-region
  div
    p
      | Copyright © 2014 Engine, Inc.
      a(href='')
        | Legal
      a(href='')
        | Terms of Service
      a(href='')
        | Privacy
      a(href='')
        | Contact
