extends ../../layouts/default

block head
  title Help

block neck
  // link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  h1 Help
  ol.help-guide
    li
      h4 Registration & Sign In
      .acct-imgs
        img(src='../media/Create-Acct.png')
      .acct-guide
        p To get started, please select the <strong>Create Account</strong> tab from the home screen and fill in the required information to set up your account. You will receive a confirmation e-mail to the address you registered with.
    li
      h4 Dashboard: Getting Started
      .acct-imgs
        img(src='../media/AppDashboard-Empty.png')
      .acct-guide
        p If this is your <strong>first time logging in</strong>, you will see no apps listed. Select the <strong>Create Application</strong> button to register your application with API Network!
    li
      h4 Dashboard: Viewing your list
      .acct-imgs
        img(src='../media/AppDashboard-Existing.png')
      .acct-guide
        p If you've already registered your application(s) with us, you'll see each application listed here along with the some basic information, including name, description and any third party services you've tied in to your app. Select one to view more details.
    li
      h4 Creating Your Application
      .acct-imgs
        img(src='../media/Create-Application.png')
      .acct-guide
        p If you're creating an application, you will see some basic information we need from you to register your app with API Network. Be sure to fill out the details and agree to the Terms &amp; Conditions to create your first application on the API Network!
    li.guide-app-detail
      h4 Application Detail: <span class="title-descriptor">Overview, Remote Services &amp; Settings</span>
      ul
        li Overview
          .acct-imgs
            img(src='../media/AppDetail-Overview.png')
          .acct-guide
            p Within each application, you'll see several key sections available. The first is <strong>Overview</strong> which just lists the details for both application services and settings. Click <strong>Edit</strong> within in section to be navigated to the particular section you'd like to view.
        li Remote Services
          .acct-imgs
            img(src='../media/AppDetail-Services.png')
          .acct-guide
            p Now for the fun part - let's add in some third party API providers! You can see listed here any providers you've added in as well as add new ones.
        li Settings
          .acct-imgs
            img(src='../media/AppDetail-Settings.png')
          .acct-guide
            p The <strong>Settings</strong> section lists all the basic application details you gave when you registered your application. These can be updated at any time.
