h3 Welcome to #{projectName}
p Thanks for signing up. As requested, your account has been created. Here are your login credentials:
table(border='0', cellpadding='5', cellspacing='0')
  tr
    td Email:
    td #{email}
  tr
    td Login Here:
    td #{loginURL}
p
  | Thanks,
  br
  br
  | #{projectName}
