// Services View
// In Modules > Editor > Services
// --------------------------------------------------

.service-info {
  display: block;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:focus, &:active {
    outline: 0;
  }

  table {
    th {
      background-color: transparent;
    }
  }
}

.service-edit {
  &:extend(.btn-xs, .btn-gray, .pull-right);

  margin: 10px 10px 0 0;
}

.service-date-added {
  clear: both;
}
