// Sets up our grid layout
@grid-logo-width: 40px;

.grid {
  .clearfix;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grid-item {
  display: block;
  position: relative;
  float: left;
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: @border-gray;
  .border-radius(3px);
  box-sizing: border-box;
  color: @gray-darker;
  background-color: @gray-even-lighter;
  word-wrap: break-word;
  .transition(background-color 0.2s ease);

  &:hover,
  &:active,
  &:focus {
    color: @gray-darker;
    text-decoration: none;
    background-color: @gray-lighter;
    outline: 0;
    cursor: pointer;
  }

  .services {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      padding: 0 1%;
    }
  }
}

.grid-description {
  width: 100%;

  th {
    width: 100px;
    vertical-align: top;
  }

  td {
    word-break: break-word;
  }
}

.grid-create {
  text-align: center;
  background-color: #FFF;
  border: 2px @gray-lighter dashed;

  &:hover {
    color: @brand-apiblue;
    background-color: @gray-even-lighter;
  }

  .create-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}

.grid-logo {
  float: right;
  width: @grid-logo-width;
  height: @grid-logo-width;
  margin-bottom: 10px;
  .border-radius(2px);
  overflow: hidden;

  // Fixes width + height appropriately
  > img {
    width: @grid-logo-width;
  }
}

.grid-name {
  font-size: @font-size-h4;
  line-height: @grid-logo-width;
}

.grid-description {
  clear: both;
  font-size: 12px;
}
